1. Write a code to reverse a string.

In [ ]:
a = "Hello World"
b = a[::-1]
print(b)

dlroW olleH

In [ ]:
a = "Abhishek Kumar"
b = a[::-1]
print(b)

ramuK kehsihbA

In [ ]:
a = ["A","B","C","D"]
b = a.reverse()
print(a)

['D', 'C', 'B', 'A']

In [ ]:
a = ["A","b","h","i","s","h","e","k"]
b = a.reverse()
print(a)

['k', 'e', 'h', 's', 'i', 'h', 'b', 'A']

2. Write a code to count the number of vowels in a string.

In [ ]:
a = "Hello World"
vowels = "aeiouAEIOU"
count = sum(a.count(vowel) for vowel in vowels)
print(count)

3

In [ ]:
a = "Abhishek Kumar"
vowels = "aeiouAEIOU"
count = sum(a.count(vowel) for vowel in vowels)
print(count)

5

3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert the string to lowercase for case-insensitive comparison
    s = s.replace(" ", "").lower()

    # Compare the original string with the reversed string
    if s == s[::-1]:
        return True
    else:
        return False

# Input from user
input_string = input("Enter a string: ")

# Check if the string is a palindrome
if is_palindrome(input_string):
    print("The string is a palindrome!")
else:
    print("The string is not a palindrome.")

Enter a string: madam
The string is a palindrome!

In [ ]:
def is_palindrome(s):
    # Remove spaces and convert the string to lowercase for case-insensitive comparison
    s = s.replace(" ", "").lower()

    # Compare the original string with the reversed string
    if s == s[::-1]:
        return True
    else:
        return False

# Input from user
input_string = input("Enter a string: ")

# Check if the string is a palindrome
if is_palindrome(input_string):
    print("The string is a palindrome!")
else:
    print("The string is not a palindrome.")

Enter a string: ABHISHEK
The string is not a palindrome.

4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = ''.join(str1.lower().split())
    str2 = ''.join(str2.lower().split())

    # Sort and compare
    return sorted(str1) == sorted(str2)

# Test
print(are_anagrams("Listen", "Silent"))  # Output: True
print(are_anagrams("Hello", "World"))    # Output: False

True
False

5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_all_occurrences(main_string, substring):
    """Find all occurrences of a substring in a string and return their starting indices."""
    indices = []
    start = 0

    while True:
        # Find the next occurrence of the substring
        start = main_string.find(substring, start)

        # If no more occurrences are found, break the loop
        if start == -1:
            break

        # Append the index of the current occurrence
        indices.append(start)

        # Move the start index forward to continue searching
        start += 1  # Avoid overlapping matches

    return indices


# Example usage
main_string = "abracadabra"
substring = "abra"
result = find_all_occurrences(main_string, substring)
print("Occurrences at indices:", result)

Occurrences at indices: [0, 7]

In [ ]:
# Example usage
main_string = "mississippi"
substring = "issi"
result = find_all_occurrences(main_string, substring)
print("Occurrences at indices:", result)

Occurrences at indices: [1, 4]

6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(s):
    # Initialize variables
    compressed = []
    count = 1

    # Iterate through the string
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:  # Check if current character is same as previous
            count += 1  # Increment count
        else:
            # Append character and count to the result
            compressed.append(s[i - 1] + str(count))
            count = 1  # Reset count

    # Append the last character and its count
    compressed.append(s[-1] + str(count))

    # Join the compressed parts and compare with the original
    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s

# Example Usage
input_string = "aaabbcc"
print(compress_string(input_string))  # Output: a3b2c2

a3b2c2

In [ ]:
def compress_string(s):
    # Initialize variables
    compressed = []
    count = 1

    # Iterate through the string
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:  # Check if current character is same as previous
            count += 1  # Increment count
        else:
            # Append character and count to the result
            compressed.append(s[i - 1] + str(count))
            count = 1  # Reset count

    # Append the last character and its count
    compressed.append(s[-1] + str(count))

    # Join the compressed parts and compare with the original
    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s

# Example Usage
input_string = "aabcccccaaa"
print(compress_string(input_string))  # Output: a2b1c5a3

a2b1c5a3

7. Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_characters(s):
    # Use a set to track seen characters
    seen = set()
    for char in s:
        if char in seen:
            return False
        seen.add(char)
    return True

# Test the function
string = "hello"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")

string = "world"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")

Does 'hello' have all unique characters? False
Does 'world' have all unique characters? True

In [ ]:
def has_unique_characters(s):
    return len(s) == len(set(s)) #A set automatically removes duplicates

# Test the function
string = "abcde"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")  # Output: True

string = "hello"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")  # Output: False

Does 'abcde' have all unique characters? True
Does 'hello' have all unique characters? False

In [ ]:
def has_unique_characters(s):
    return len(s) == len(set(s)) #A set automatically removes duplicates

# Test the function
string = "Abhishek"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")  # Output: True

string = "Kumar"
print(f"Does '{string}' have all unique characters? {has_unique_characters(string)}")  # Output: False

Does 'Abhishek' have all unique characters? False
Does 'Kumar' have all unique characters? True

8. write a code to convert a given string to uppercase or lowercase.

In [ ]:
a = "Hello World"
b = a.upper()
print(b)

HELLO WORLD

In [ ]:
b = "HELLO WORLD"
c = b.lower()
print(c)

hello world

In [ ]:
# Taking input string from the user
input_string = input("Enter a string: ")

# Asking user for choice
choice = input("Enter 'U' for Uppercase or 'L' for Lowercase: ")

# Converting the string based on the user's choice
if choice == 'U' or choice == 'u':
    print(input_string.upper())  # Convert to Uppercase
elif choice == 'L' or choice == 'l':
    print(input_string.lower())  # Convert to Lowercase
else:
    print("Invalid choice. Please enter 'U' or 'L'.")

Enter a string: abhishek kumar
Enter 'U' for Uppercase or 'L' for Lowercase: U
ABHISHEK KUMAR

9. Write a code to count the number of words in a string.

In [ ]:
a = "Abhishek Kumar"
b = a.split()
print("Number of words", len(b))

Number of words 2

10. write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(str1, str2):
    return ''.join([str1, str2])

# Example usage
result = concatenate_strings("Hello", " World")
print(result)  # Output: Hello World

Hello World

In [ ]:
words = ["Hello", "world", "from", "Python"]
result = ' '.join(words)
print(result)  # Output: Hello world from Python

Hello world from Python

11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
# Define the list
my_list = [1, 2, 3, 4, 3, 5, 3]

# Define the element you want to remove
element_to_remove = 3

# Use list comprehension to create a new list without the element
my_list = [item for item in my_list if item != element_to_remove]

# Print the modified list
print(my_list)

[1, 2, 4, 5]

In [ ]:
a = [1, 5.6, 7, 2, 1, 8.9, 11, 58, 1, 2, 5.6, 985]

# Remove all occurrences of 1 and 2
b = [list for list in a if list != 1 and list != 2]

print(b)

[5.6, 7, 8.9, 11, 58, 5.6, 985]

12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def second_largest(numbers):
    numbers = list(set(numbers))  # Remove duplicates
    numbers.sort()  # Sort the numbers in ascending order
    if len(numbers) < 2:
        return None  # Return None if there are fewer than two unique numbers
    return numbers[-2]  # Return the second largest

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = second_largest(numbers)
print(f"The second largest number is: {result}")

The second largest number is: 8

In [ ]:
a = [58 , 56 , 57, 1, 2, 1, 2, 999, 989, 98.9]
b = list(set(a))
b.sort()
print(b[-2])

989

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.

In [ ]:
def count_occurrences(input_list):
    # Initialize an empty dictionary to store counts
    element_count = {}

    # Loop through the list
    for element in input_list:
        # If the element is already in the dictionary, increment its count
        if element in element_count:
            element_count[element] += 1
        else:
            # If not, add the element with a count of 1
            element_count[element] = 1

    return element_count

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 4, 5]
result = count_occurrences(my_list)
print(result)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

14. write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list(lst):
    start = 0
    end = len(lst) - 1

    while start < end:
        # Swap the elements at start and end
        lst[start], lst[end] = lst[end], lst[start]
        # Move the pointers
        start += 1
        end -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(input_list):
    seen = set()  # To keep track of elements already encountered
    result = []
    for item in input_list:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

# Example usage
input_list = [1, 2, 2, 3, 4, 3, 5, 1]
output_list = remove_duplicates_preserve_order(input_list)
print("Original list:", input_list)
print("List after removing duplicates:", output_list)

Original list: [1, 2, 2, 3, 4, 3, 5, 1]
List after removing duplicates: [1, 2, 3, 4, 5]

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
def check_sorted(lst):
    if lst == sorted(lst):
        return "The list is sorted in ascending order."
    elif lst == sorted(lst, reverse=True):
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

# Example usage
sample_list = [5, 3, 2, 1]
result = check_sorted(sample_list)
print(result)

The list is sorted in descending order.

In [ ]:
def check_sorted(lst):
    if lst == sorted(lst):
        return "The list is sorted in ascending order."
    elif lst == sorted(lst, reverse=True):
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

# Example usage
sample_list = [1, 2, 5, 6, 8]
result = check_sorted(sample_list)
print(result)

The list is sorted in ascending order.

In [ ]:
def check_sorted(lst):
    if lst == sorted(lst):
        return "The list is sorted in ascending order."
    elif lst == sorted(lst, reverse=True):
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

# Example usage
sample_list = [50, 55, 98,10, 1, 13,99]
result = check_sorted(sample_list)
print(result)

The list is not sorted.

17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
result = merge_sorted_lists(list1, list2)
print(result)  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

18. Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection(list1, list2):
    # Using set intersection to find common elements
    intersection = list(set(list1) & set(list2))
    return intersection

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

result = find_intersection(list1, list2)
print("Intersection:", result)

Intersection: [4, 5]

19. Create a code to find the union of two lists without duplicates.

In [ ]:
def union_of_lists(list1, list2):
    # Use a set to automatically handle duplicates
    return list(set(list1) | set(list2))

# Example usage
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
result = union_of_lists(list1, list2)
print("Union without duplicates:", result)

Union without duplicates: [1, 2, 3, 4, 5, 6]

20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(input_list):
    # Copy the input list to avoid modifying the original
    shuffled_list = input_list[:]
    n = len(shuffled_list)
    for i in range(n - 1, 0, -1):
        # Generate a random index between 0 and i (inclusive)
        j = random.randint(0, i)
        # Swap the elements at indices i and j
        shuffled_list[i], shuffled_list[j] = shuffled_list[j], shuffled_list[i]
    return shuffled_list

# Example usage
original_list = [1, 2, 3, 4, 5]
shuffled = shuffle_list(original_list)

print("Original List:", original_list)
print("Shuffled List:", shuffled)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [3, 5, 2, 1, 4]

21. Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def common_elements(tuple1, tuple2):
    # Use set intersection to find common elements and convert back to a tuple
    return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple_a = (1, 2, 3, 4, 5)
tuple_b = (3, 4, 5, 6, 7)
result = common_elements(tuple_a, tuple_b)
print("Common elements:", result)

Common elements: (3, 4, 5)

22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
# Prompt the user to enter two sets of integers
set1_input = input("Enter the first set of integers, separated by commas: ")
set2_input = input("Enter the second set of integers, separated by commas: ")

# Convert the inputs into sets of integers
set1 = set(map(int, set1_input.split(',')))
set2 = set(map(int, set2_input.split(',')))

# Find the intersection of the two sets
intersection = set1 & set2

# Print the intersection
print("The intersection of the two sets is:", intersection)

Enter the first set of integers, separated by commas: 1,2,3,4
Enter the second set of integers, separated by commas: 3,4,5,6
The intersection of the two sets is: {3, 4}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples and return the result
    return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)

print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

24.  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set.

In [ ]:
# Prompt the user to input two sets of strings
set1_input = input("Enter the elements of the first set, separated by commas: ")
set2_input = input("Enter the elements of the second set, separated by commas: ")

# Convert the input strings to actual sets
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Find the difference between the first set and the second set
difference = set1 - set2

# Print the elements that are in the first set but not in the second set
print("Elements present in the first set but not in the second set:")
print(difference)

Enter the elements of the first set, separated by commas: apple, mango, cheery
Enter the elements of the second set, separated by commas: banana
Elements present in the first set but not in the second set:
{'apple', ' cheery', ' mango'}

25.  Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(original_tuple, start_index, end_index):
    # Return a sliced tuple from the original tuple using the provided indices
    return original_tuple[start_index:end_index]

# Example usage:
original_tuple = (10, 20, 30, 40, 50, 60, 70)
start_index = 2
end_index = 5

result = slice_tuple(original_tuple, start_index, end_index)
print(result)  # Output: (30, 40, 50)

(30, 40, 50)

26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
# Prompt user for input
set1_input = input("Enter the first set of characters: ")
set2_input = input("Enter the second set of characters: ")

# Convert inputs to sets (automatically removes duplicates)
set1 = set(set1_input)
set2 = set(set2_input)

# Compute the union of the two sets
union_set = set1.union(set2)

# Print the union
print("The union of the two sets is:", union_set)

Enter the first set of characters: hello
Enter the second set of characters: world
The union of the two sets is: {'h', 'd', 'w', 'o', 'r', 'e', 'l'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(input_tuple):
    # Unpack the tuple to find the max and min values
    max_value, min_value = max(input_tuple), min(input_tuple)

    return max_value, min_value

# Example usage
input_tuple = (3, 5, 1, 9, 4)
max_val, min_val = find_max_min(input_tuple)
print("Maximum Value:", max_val)
print("Minimum Value:", min_val)

Maximum Value: 9
Minimum Value: 1

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets.

In [ ]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of set1 and set2
union_set = set1 | set2
print("Union:", union_set)

# Intersection of set1 and set2
intersection_set = set1 & set2
print("Intersection:", intersection_set)

# Difference of set1 and set2 (elements in set1 but not in set2)
difference_set = set1 - set2
print("Difference (set1 - set2):", difference_set)

# Difference of set2 and set1 (elements in set2 but not in set1)
difference_set2 = set2 - set1
print("Difference (set2 - set1):", difference_set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

29.Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(tup, element):
    return tup.count(element)

# Example usage
my_tuple = (1, 2, 3, 1, 4, 1, 5)
element = 1
print(count_occurrences(my_tuple, element))  # Output: 3

3

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets.

In [ ]:
# Prompt the user to input two sets of strings
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

# Convert the input strings into sets by splitting by commas and stripping whitespace
set1 = set(set1_input.split(","))
set2 = set(set2_input.split(","))

# Find the symmetric difference between the two sets
symmetric_diff = set1 ^ set2

# Print the result
print("Symmetric Difference:", symmetric_diff)

Enter the first set of strings (comma-separated): 1, 2, 3, 4
Enter the second set of strings (comma-separated): 3, 4, 5, 6
Symmetric Difference: {' 2', ' 5', ' 6', '3', '1', ' 3'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [1]:
def word_frequencies(words):
    """
    Takes a list of words and returns a dictionary
    with unique words as keys and their frequencies as values.

    Args:
        words (list): A list of words (strings).

    Returns:
        dict: A dictionary with word frequencies.
    """
    frequency_dict = {}
    for word in words:
        frequency_dict[word] = frequency_dict.get(word, 0) + 1
    return frequency_dict

# Example usage
word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequencies = word_frequencies(word_list)
print(frequencies)

{'apple': 3, 'banana': 2, 'orange': 1}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [2]:
def merge_and_add_dicts(dict1, dict2):
    """
    Merges two dictionaries. If a key is common, adds the values together.

    Args:
        dict1 (dict): The first dictionary.
        dict2 (dict): The second dictionary.

    Returns:
        dict: The merged dictionary with summed values for common keys.
    """
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs

    return merged_dict

# Example usage:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 35}

result = merge_and_add_dicts(dict1, dict2)
print(result)  # Output: {'a': 10, 'b': 35, 'c': 55, 'd': 35}

{'a': 10, 'b': 35, 'c': 55, 'd': 35}

33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.

In [3]:
def get_nested_value(data, keys):
    """
    Access a value in a nested dictionary using a list of keys.

    Parameters:
    data (dict): The nested dictionary.
    keys (list): A list of keys specifying the path to the value.

    Returns:
    The value if all keys exist, otherwise None.
    """
    current = data
    try:
        for key in keys:
            current = current[key]
        return current
    except (KeyError, TypeError):
        return None

# Example usage
nested_dict = {
    "a": {
        "b": {
            "c": "value"
        }
    }
}

keys = ["a", "b", "c"]
print(get_nested_value(nested_dict, keys))  # Output: "value"

keys = ["a", "b", "x"]
print(get_nested_value(nested_dict, keys))  # Output: None

value
None

34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.

In [4]:
def sort_dict_by_value(input_dict, reverse=False):
    # Sorting the dictionary by values
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=reverse))
    return sorted_dict

# Example usage:
input_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict_asc = sort_dict_by_value(input_dict, reverse=False)
sorted_dict_desc = sort_dict_by_value(input_dict, reverse=True)

print("Sorted in Ascending Order:", sorted_dict_asc)
print("Sorted in Descending Order:", sorted_dict_desc)

Sorted in Ascending Order: {'b': 1, 'c': 2, 'a': 3}
Sorted in Descending Order: {'a': 3, 'c': 2, 'b': 1}

35.  Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [5]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            # If the value is already a key in inverted, append the current key to the list
            inverted[value].append(key)
        else:
            # If the value is not in inverted, create a new list with the current key
            inverted[value] = [key]
    return inverted

# Example usage
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = invert_dict(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}